 
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>AITom GUI</title>
  <link rel="stylesheet" href="{% static '/frontend/css/icon.css' %}">
 <!-- <link rel="stylesheet" href="{% static '/frontend/css/material.indigo-pink.min.css' %}"> -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href=" {% static '/frontend/css/stepper.css' %} ">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="{% static '/frontend/css/iconcss.css' %}" rel='stylesheet' type='text/css'>
  <link href="{% static '/frontend/css/styles.css' %}" rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href=" {% static '/frontend/other/favicon.ico' %} " />
  <script src="{% static '/frontend/js/jquery.min.js' %} "></script>

  <script src = " {% static '/frontend/js/resumable.js' %}"></script>
  <script src="{% static '/frontend/js/material.min.js' %}"></script> 
  <script src=" {% static '/frontend/js/stepper.min.js' %} "></script>
  
</head>

<body>
    <!-- Simple list -->
<style>
    .demo-list-item {
      width: 300px;
    }
    </style>
  <h3>Now please assign sigma.</h3>
  <p>It make takes several seconds to get the result.</p>
  
</body>

</html>
